
.btn {
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--orange);
  width: 120px;
  text-align: center;
}

.btn-primary {
  background-color: var(--orange);
  color: var(--btn-text);
}


.radio-elm{
  display: none;
}
.radio-elm:checked + label{
  background-color: var(--orange);
  color: white;

}